* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #e1e3e6;
}

a {
    text-decoration: none;
}

.app {
    width: 100vw;
    height: 95vh;
    display: grid;
    align-items: start;
    justify-items: center;
    gap: 1.4rem;
    margin: 0 auto 10px;
}

.header {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    padding: 20px;
    box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.header a {
    font-size: 1.5rem;
    color: steelblue;
}

.header span {
    font-size: 1.2rem;
    color: #eee;
}

.header p {
    color: #eee;
}

.word-to-guess {
    display: flex;
    gap: .25em;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: monospace;
}

.keyboard {
    display: grid;
    max-width: 600px;
    grid-template-columns: repeat(7, minmax(55px, 1fr));
    gap: .25rem;
}

.popup {
    position: absolute;
    display: grid;
    align-content: center;
    padding: 40px;
    margin-top: 5.5rem;
    height: min(65%, 300px);
    width: min(100%, 420px);
    background: #777777ee;
    box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.2);
}

.no-popup {
    display: none;
}

.popup__msg {
    display: grid;
    gap: 1rem;
    justify-content: space-around;
    background: #e3e3e3;
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.popup__msg button {
    margin: auto;
    cursor: pointer;
    border: 0;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    font-size: 16px;
    background: #555;
    color: #eee;
    font-weight: 600;
    height: 3rem;
    border-radius: 30px;
    transition: all 0.3s;
}

.popup__msg button:active {
    transform: scale(0.8);
}

@media (max-width: 600px) {
    .header a span {
        display: none;
    }

    .app {
        margin: 0;
        align-content: start;
    }

    .word-to-guess {
        font-size: 2rem;
    }
}