* {
    align-self: center;
}

body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.app {
    max-width: min(100%, 900px);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto;
}

.word-to-guess {
    display: flex;
    gap: .25em;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: monospace;
}

.keyboard {
    display: grid;
    max-width: 600px;
    grid-template-columns: repeat(auto-fit, minmax(55px, 1fr));
    gap: .25rem
}

.show {
    position: absolute;
    display: grid;
    margin: 5rem auto;
    height: min(40%, 350px);
    width: min(100%, 500px);
    background: #777777ee;
    box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.2);
    /* border: 3px solid #444; */
    justify-content: center;
}

.no-show {
    display: none;
}

.popup {
    background: #e3e3e3;
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.popup button {
    margin: auto;
    cursor: pointer;
    border: 0;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    font-size: 16px;
    /* display: grid; */
    /* grid-row: auto; */
    align-items: center;
    justify-content: center;
    background: #555;
    color: #eee;
    font-weight: 600;
    height: 3rem;
    border-radius: 30px;

}

.popup button:active {
    transform: scale(0.8);
    /* background: #e3e3e3; */
    /* box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1); */

}